/* Add this to your index.css file */
.active-nav {
  position: relative;
  /* Ensure positioning context for the pseudo-element */
}

.active-nav::after {
  content: '';
  position: absolute;
  left: 0;
  border: 2px solid #2563eb;
  border-radius: 100px;
  right: 0;
  bottom: -8px; /* Adjust this value to move the underline further down */
  height: 3px;
  background-color: #2563eb;
  box-shadow: 0 0px 10px rgba(0, 123, 255, 0.13); /* Clearer active state */
}

@layer base {
  html {
    font-family: 'Manrope', sans-serif;
    font-weight: 400; /* Apply to the root html element */
    /* You can optionally set a default font-weight here if you want most text
       to be a specific Oswald weight, e.g., font-weight: 400; */
  }
}

h1 {

    font-family: 'Manrope', sans-serif;
    font-weight: 400; /* Apply to the root html element */
    /* You can optionally set a default font-weight here if you want most text
       to be a specific Oswald weight, e.g., font-weight: 400; */
  }

button {

    font-family: 'Manrope', sans-serif;
    font-weight: 100; /* Apply to the root html element */
    /* You can optionally set a default font-weight here if you want most text
       to be a specific Oswald weight, e.g., font-weight: 400; */

}

div {

    font-family: 'Manrope', sans-serif;
    font-weight: 400;
  }

p {

    font-family: 'Manrope', sans-serif;
    font-weight: 400; /* Apply to the root html element */
    /* You can optionally set a default font-weight here if you want most text
       to be a specific Oswald weight, e.g., font-weight: 400; */
  }

input {

    font-family: 'Manrope', sans-serif;
    font-weight: 200; /* Apply to the root html element */
    /* You can optionally set a default font-weight here if you want most text
       to be a specific Oswald weight, e.g., font-weight: 400; */
  }

/* Add this to your index.css file */

/* Glow effect for focused search input */
.search-input-glow:focus {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 0 3px rgba(59, 131, 246, 0.781); /* Blue glow */
  border-color: transparent;
}